.main{
   margin:4rem 2rem;
   border-radius:15px;
   overflow:hidden;
}

@media (min-width:600px){
   .main{
      display: flex;
      align-items: center;
      position:absolute;
      top:30%;
   }
}
